* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.spinner{
    min-height: 100vh;
}

.carrito-listado{
    min-height: 55vh;
}

.interesante{
    font-size: 36px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.producto-detalle {
    padding-block: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    border: 2px solid black;
    border-radius: 15px;
}

.cart-item{
    background-color:rgb(255, 201, 100) ;
}

.botones-cart{
    background-color: rgb(167, 166, 166);
}

@media (max-width:1000px){
    .producto-detalle{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}

@media (max-width:750px){
    .producto-detalle{
        grid-template-columns: none;
		display:flex ;
		flex-direction: column;
        padding-left: 20px;
	}
}



.producto-detalle img {
    width: 100%;
}

.producto-detalle-2 img{
    width: auto;
    max-height: 180px;
}

.descripcion  {
    font-size: 1.5rem;
}

.categoria {
    font-size: 1rem;
    color: #424242;
    margin-top: 1rem;
}

.precio {
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: 600;
}

section {
    margin: 0px;
    padding: 0px;
  }
  
  .img-cart {
    width: 150px;
    height: 200px;
  }
 
  .totalprice-cart {
    margin-left: 320px;
    margin-top: 70px;
  }
  
  .underline {
    text-decoration: underline;
  }
  
  .font-carrito {
    font-size: 18px;
    word-spacing: 5px;
  }

  
